//Inverse colors : Used as background in cards and more
$theme1inv: #ffffff;
$theme2inv: #fbfbfb;
$theme3inv: #f4f4f4;

$theme-body-image: linear-gradient(to right top, #f5f5fb, #f9f9fc, #fbfbfb);

:export {
  theme1inv: $theme1inv;
  theme2inv: $theme2inv;
  theme3inv: $theme3inv;
}
