@import "../base/_default-colors.scss";

//New theme state colors

//
$theme1: #ffaa00; // default text color for most components
$theme2: #008800; // default body color ( Heatmap h2)
$theme3: #ff00ff;
$primary: #ff5544;
$secondary: #005544;
$success: $green; // applied to .text-success
$info: #3d58ff;
$warning: #f1c23e;
$danger: #f04165;
$light: $gray-300;
$dark: $gray-800;

// @import "./template/_bg-light.scss";

$theme1inv: #888888; // baked into chart tooltip background
$theme2inv: #0055aa;
$theme3inv: #55ff99;

$theme-body-image: linear-gradient(to right top, #f5f5fb, #f9f9fc, #fbfbfb);

// end @import "./template/_bg-light.scss";

// @import "./_default-light-init.scss";
@import "../../mixin/_color.scss";

// Color Settings

$theme-color-mixed-color: #fff;
$theme-color-mixed-percent: 7%;
$theme-color-mixed-percent-1: 35%;
$theme-color-mixed-opacity: 0.85;

$theme-color-darkness-percent: 90%;

$theme1-map: get-color-map($theme1);
$secondary-map: get-color-map($secondary);

$body-color: $theme2;

//Overide some variables based on skin to generate new bs4
$pagination-active-bg: $primary;
$pagination-active-border-color: $primary;
$chartPallete: $primary, $secondary, $theme1, $theme2, $theme3;
$card-cap-bg: #002244;
$card-bg: #004466;

$pagination-bg: #ffffff;
$pagination-hover-bg: $gray-200;
$pagination-disabled-bg: #ffffff;

$pagination-active-color: $primary;
$pagination-active-bg: mix($primary, white, 6%);

$table-color: $theme1;
$table-head-bg: map-get($secondary-map, "light");

$table-active-bg: map-get($theme1-map, "dark");
$table-border-color: map-get($theme1-map, "mixed");
$table-hover-bg: map-get($secondary-map, "mixed");

//List Group
$list-group-bg: $theme1inv;
$list-group-action-active-bg: $theme2inv;

// Side menu main variables
$theme-side-color: $theme1;
$theme-side-bg: $theme1inv;
$theme-side-color2: $theme2;
$theme-side-bg2: $theme2inv;
$theme-side-color3: $theme3;
$theme-side-bg3: $theme3inv;
$theme-side-logo-color: $primary;
$theme-side-logo-color2: $theme1;
$theme-side-logo-bg: $theme3inv;
$theme-side-icon-color: $theme1;

$theme-side-scroll-color: $theme1inv;

$theme-navtop-bg: $theme1inv;
$theme-navtop-color: $theme1;
$theme-navtop-item-color: $theme1;

$theme-border-color: mix(#fff, map-get($theme1-map, "mixed"), 70%);

$theme-header-bg-extended: transparent;
$theme-side-box-shadow: 8px 0px 50px -23px #dcdce8;

$list-group-border-color: map-get($theme1-map, "mixed");

// end @import "./_default-light-init.scss";

$theme-side-color: #c9cddf;
$theme-side-bg: #ff00ff; //#162899; //#505dad; //#13182c;
$theme-side-bg2: #00ffff; //#142593; //#4553a8;
$theme-side-logo-color: #eaecf4;
$theme-side-logo-color2: #9ca1b9;
$theme-side-logo-bg: $danger;
$theme-navtop-color: var(--theme1-mixed-1);
$theme-side-icon-color: #8f97d4;

$theme-side-scroll-color: #20207d;

$theme-side-padding: 0px;
$theme-side-radius: 0px;

@import "./_default-light-export.scss";
