$primary: #00ffff;
$secondary: #ff00ff;
$default-background-color: #ffffff;
$default-foreground-color: #202020;

::-webkit-scrollbar {
  width: 10px;
}

//Active scroll on elemennt
.ig-active-scroll {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  position: relative;

  & > * {
    position: absolute;
  }
}
.small-scroll,
.table-responsive {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent; //darken($theme-side-bg, 10%);
  }
  &::-webkit-scrollbar-thumb {
    background: lighten($secondary, 10%);
    border: 10px solid rgba(255, 255, 255, 0);
    //Cut bg after border applied
    background-clip: padding-box;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background: lighten($secondary, 10%);
      background-clip: padding-box;
    }
  }
}

.ghost-scroll {
  overflow-y: auto;

  &::-webkit-scrollbar-track {
    background: transparent; //darken($theme-side-bg, 10%);
  }

  &::-webkit-scrollbar-thumb {
    background: mix($primary, $default-background-color, 10%);
    border: 10px solid rgba(255, 255, 255, 0);
    //Cut bg after border applied
    background-clip: padding-box;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background: mix($primary, $default-background-color, 30%);
      background-clip: padding-box;
    }
  }
}

.small-scroll.ghost {
  &::-webkit-scrollbar-track {
    background: $default-background-color;
  }
  &::-webkit-scrollbar-thumb {
    background: transparent; //var(--primary); //lighten($secondary, 10%);
    border: 10px solid rgba(255, 255, 255, 0);
    background-clip: padding-box;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background: mix(
        $default-background-color,
        $primary,
        80%
      ); //lighten($secondary, 10%);
      background-clip: padding-box;
    }
  }
}

.small-scroll.trans {
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: transparent; //var(--primary); //lighten($secondary, 10%);
    border: 10px solid rgba(255, 255, 255, 0);
    background-clip: padding-box;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background: mix($primary, $default-background-color, 30%);
      background-clip: padding-box;
    }
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: $default-background-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-thumb:active {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent; // $primary;
}
